[Unit]
Description=JumpsellerSync - Main Component

[Service]
WorkingDirectory=/var/www/JumpsellerSync/Main/
ExecStart=/usr/bin/dotnet /var/www/JumpsellerSync/Main/JumpsellerSync.RestApi.FrontEnd.dll --apply-migrations
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=js-main
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Staging
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=Jumpseller__Auth__ClientId=
Environment=Jumpseller__Auth__ClientSecret=
Environment=ConnectionStrings__Npgsql__Jumpseller__Password=
Environment=ConnectionStrings__Npgsql__Hangfire__Password=

[Install]
WantedBy=multi-user.target
