[Unit]
Description=JumpsellerSync - Nexsys Provider

[Service]
WorkingDirectory=/var/www/JumpsellerSync/Nexsys/
ExecStart=/usr/bin/dotnet /var/www/JumpsellerSync/Nexsys/JumpsellerSync.RestApi.Provider.Nexsys.dll --apply-migrations
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=js-nexsys
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Staging
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=ConnectionStrings__Npgsql__Hangfire__Password=
Environment=ConnectionStrings__Npgsql__Nexsys__Password=
Environment=MainAuth__Username=
Environment=MainAuth__Password=
Environment=CurrencyOptions__BCCh__Username=
Environment=CurrencyOptions__BCCh__Password=
Environment=Nexsys__Username=


[Install]
WantedBy=multi-user.target
