#product-tabs {
    margin-bottom: 1rem;
}

#unsynced .row {
    margin: 5px 0;
}

.sync-product-btn {
    margin: 5px;
    margin-top: 2px;
}

.product-row-item {
    padding: 10px 10px;
    margin-bottom: 6px;
    box-shadow: 1px 1px 3px 0 black;
    border-radius: 5px;
}

.provider-product-row .details span {
    margin-right: 5px;
    font-size: 0.9rem;
}

    .provider-product-row .details span > strong {
        text-transform: uppercase;
    }

#synced-products > table > tbody > tr > td:last-child a {
    min-width: 90px;
}

#withStock, [for="withStock"] {
    cursor: pointer;
}
