@using JumpsellerSync.BusinessLogic.Core.Dtos.Main
@model IEnumerable<ProviderDto>
@{
   ViewData["Title"] = "Productos";
}

<div class="modal fade" id="syncProductModal"
     data-backdrop="static" data-keyboard="false"
     tabindex="-1" aria-labelledby="syncProductModalTitle"
     aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="syncProductModalTitle">Sincronizar nuevo producto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>

         <div class="modal-body">
            <input type="hidden" name="providerProductId" />
            <input type="hidden" name="productDesc" />
            <input type="hidden" name="productSku" />

            <div class="form-group">
               <label for="productName" class="col-form-label">Nombre</label>
               <input type="text" name="productName" class="form-control" />
            </div>

            <div class="form-group">
               <label for="margin">Margen (%)</label>
               <input type="number" class="form-control" name="margin" value="20" />
            </div>
         </div>

         <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="sync-product">
               <i class="fa fa-refresh" aria-label="hidden"></i>
               Sincronizar
            </button>

            <button type="button" class="btn btn-secondary" data-dismiss="modal">
               <i class="fa fa-remove" aria-label="hidden"></i>
               Cancelar
            </button>
         </div>
      </div>
   </div>
</div>

<div class="row no-margin d-flex justify-content-between align-items-baseline">
   <h1>Productos</h1>
   <div>
      <nav>
         <span>Elementos por página: </span>
         <div id="items-per-page" class="d-inline-block">
            <ul class="pagination pagination-sm">
               <li class="page-item active" data-ipp="10">
                  <span class="page-link">10</span>
               </li>
               <li class="page-item" data-ipp="20">
                  <span class="page-link">20</span>
               </li>
               <li class="page-item" data-ipp="30">
                  <span class="page-link">30</span>
               </li>
               <li class="page-item" data-ipp="40">
                  <span class="page-link">40</span>
               </li>
            </ul>
         </div>
      </nav>
   </div>
</div>

<ul class="nav nav-tabs" id="product-tabs" role="tablist">
   <li class="nav-item" role="presentation">
      <a class="nav-link active"
         href="#synced" id="synced-tab"
         data-toggle="tab"
         role="tab"
         aria-controls="synced"
         aria-selected="true">
         Sincronizados
      </a>
   </li>
   <li class="nav-item" role="presentation">
      <a class="nav-link"
         href="#unsynced"
         id="unsynced-tab"
         data-toggle="tab"
         role="tab"
         aria-controls="unsynced"
         aria-selected="false">
         No sincronizados
      </a>
   </li>
</ul>

<div class="tab-content" id="products">
   <div class="tab-pane fade show active" id="synced" role="tabpanel" aria-labelledby="synced-tab">
      <div class="row search-row no-margin d-flex align-items-center">
         <h5>Filtros:&nbsp;</h5>
         <form id="synced-search" class="d-flex justify-content-start align-items-center">
            <div class="form-group">
               <input type="text" class="form-control"
                      name="sku-or-name" placeholder="SKU o Nombre" />
            </div>
            &nbsp;
            <div class="form-group">
               <input type="text" class="form-control" name="brands"
                      placeholder="Marcas" />
            </div>
            &nbsp;
            <div class="form-group">
               <button type="button" class="btn btn-primary btn-search-products">
                  <i class="fa fa-search" aria-label="hidden"></i>
                  Buscar
               </button>
            </div>
         </form>
         &nbsp;
         <div class="spinner-border text-primary" role="status" id="synced-loading">
            <span class="sr-only">Cargando...</span>
         </div>
      </div>
      <div id="synced-products"></div>
      <div id="synced-products-pagination" class="row justify-content-center"></div>
   </div>

   <div class="tab-pane fade" id="unsynced" role="tabpanel" aria-labelledby="unsynced-tab">
      <div class="row search-row no-margin d-flex align-items-center">
         <h5>Filtros:&nbsp;</h5>
         <form id="unsynced-search" class="d-flex justify-content-start align-items-center">
            <div class="form-group">
               <select class="form-control" placeholder="Proveedores" id="unsynced-providers">
                  @foreach (var provider in Model)
                  {
                     <option value="@provider.Id">@provider.Name</option>
                  }
               </select>
            </div>
            &nbsp;
            <div class="form-group">
               <select class="form-control" placeholder="Marcas" id="unsynced-brands">
                  <option value="-1">Marcas</option>
               </select>
            </div>
            &nbsp;
            <div class="form-group">
               <input type="text" class="form-control"
                      name="sku-or-name" placeholder="SKU o Nombre" />
            </div>
            &nbsp;
            <div class="form-check">
               <input class="form-check-input" type="checkbox" value="" id="withStock">
               <label class="form-check-label" for="withStock">
                  Con stock
               </label>
            </div>
            &nbsp;
            <div class="form-group">
               <button type="button" class="btn btn-primary btn-search-products">
                  <i class="fa fa-search" aria-label="hidden"></i>
                  Buscar
               </button>
            </div>
         </form>
         &nbsp;
         <div class="spinner-border text-primary" role="status" id="unsynced-loading">
            <span class="sr-only">Cargando...</span>
         </div>
      </div>

      <div id="unsynced-products"></div>
      <div id="unsynced-products-pagination" class="row justify-content-center"></div>
   </div>
</div>


@section Styles {
   <environment include="Development">
      <link rel="stylesheet" href="~/css/bootstrap-tagsinput.css" />
      <link rel="stylesheet" href="~/css/products.css" />
   </environment>
   <environment exclude="Development">
      <link rel="stylesheet" href="~/bundles/css/products.min.css" />
   </environment>
}

@section Scripts {
   <environment include="Development">
      <script src="~/js/typeahead.bundle.js"></script>
      <script src="~/js/bootstrap-tagsinput.js"></script>
      <script src="~/js/jquery.bootpag.js"></script>
      <script src="~/js/products.js"></script>
   </environment>
   <environment exclude="Development">
      <script src="~/js/typeahead.bundle.min.js"></script>
      <script src="~/bundles/js/products.min.js"></script>
   </environment>
}