/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*----------------------------- Alerts -----------------------*/

#alerts-container {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.no-margin {
    margin: 0 !important;
}

/*----------------------------- Search -----------------------*/

.search-row {
    padding: 10px;
}

    .search-row .form-group {
        margin: 0;
    }


/*----------------------------- Tags input and Twitter Typeahead -----------------------*/

.bootstrap-tagsinput {
    line-height: 27px !important;
    width: 100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.twitter-typeahead .tt-hint {
    display: none;
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

    .tt-suggestion:hover,
    .tt-suggestion:focus,
    .tt-suggestion.tt-cursor {
        color: #ffffff;
        text-decoration: none;
        outline: 0;
        background-color: #428bca;
    }

.bootstrap-tagsinput .tag.label-info {
    background-color: #2d91fd;
    padding: 2px 5px;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 0.8rem;
}

.bootstrap-tagsinput .tag span[data-role="remove"] {
    position: relative;
    top: -1px;
}

    .bootstrap-tagsinput .tag span[data-role="remove"]:after {
        color: #dc3545;
        font-size: 1rem;
    }

/*----------------------------- Pagination --------------------------*/

#items-per-page li {
    cursor: pointer;
}


ul.pagination.bootpag li[data-lp].active > a {
    background: dodgerblue;
    color: white;
}
