@using JumpsellerSync.BusinessLogic.Core.Dtos.Main
@model ProductDetailsDto

@{
   ViewData["Title"] = "Editar producto";
}

<h1>Editar Producto</h1>

<hr />
<div class="row">
   <div class="col-md-4">
      <form asp-action="Edit" asp-antiforgery="true" >
         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         @Html.HiddenFor(p => p.Id)
         <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" readonly class="form-control" />
         </div>
         <div class="form-group">
            <label asp-for="Margin" class="control-label"></label>
            <input asp-for="Margin" class="form-control" />
            <span asp-validation-for="Margin" class="text-danger"></span>
         </div>
         <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-primary" />
            <a asp-action="Index">Regresar al listado</a>
         </div>
      </form>
   </div>
</div>
